<IfModule mod_rewrite.c >
    Options -Multiviews
    RewriteEngine On
    RewriteBase /pvk/public
    RewriteCond %{REQUEST_FILENAAME} !-d
    RewriteCond %{REQUEST_FILENAAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>